PORT=5070
NODE_ENV=development

# Base PostgreSQL du microservice Billetterie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=billetterie_db
DB_USER=postgres
DB_PASSWORD=postgres

# Base utilisee pour les tests
DB_NAME_TEST=billetterie_db_test

# Secret JWT identique pour interoperabilite
JWT_SECRET=414ef49462b3d36f75ab928a5170b5c1b90bc158aee4a060f8aa0432f308594e800124ce2d80541b6875713c18516530

# URLs des microservices partenaires
SERVICE_UTILISATEURS_URL=http://localhost:5050
SERVICE_ABONNEMENTS_URL=http://localhost:5065
